/* utilizando os ID selector */
#topo {
	background-color: #f5f7ff;
	padding: 18px;
	text-align: center;
}

/*Para editar tamanho e borda da imagem*/
img[width="400"] {
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* Classe dos artigos */
.artigo {
	border: 1px solid #000000;
	padding: 12px;
	margin: 12px 0;
	border-radius: 6px;
	background: #b3afaf79;
}

.artigo h2 {
	color: #d10f0f;
	margin: 0 0 8px 0;
}

/* Child selector (filho direto) */
nav > ul {
	display: flex;
	border: none;
    gap: 8px;
	padding: 0; 
	margin: 12px 0;
	list-style: none;
	justify-content: center;
}

/* Attribute selector para links que começam com o GitHub */
a {
    background: #ffffff;
	padding: 6px 10px;
	border-radius: 4px;
	text-decoration: none;
}

/* Pequeno ajuste nos botões do nav */
nav > ul button {
	background: transparent;
	border: 1px solid #000000;
	padding: 2px;
}

/* Tornar links dentro dos botões invisiveis */
nav a { color: inherit; text-decoration: none; }

