#container-flex {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background: #0d0de6;
    border: 1px solid #ddd;
}

#container-flex .item {
    flex: 1 1 0%;
    min-width: 80px;
    padding: 1rem;
    background: #1a1a1a;
    border: 1px solid #ccc;
    text-align: center;
}

@media (max-width: 600px) {
    #container-flex {
        flex-direction: column; /* Transforma o layout em vertical*/
    }
}